CONFIG_64BIT=y
CONFIG_CPU_V8=y
CONFIG_MMU=y
CONFIG_MALLOC_SIZE=0x0
CONFIG_NAME="efi_v8_defconfig"
CONFIG_COMPILE_TEST=y
CONFIG_EFI_PAYLOAD=y
CONFIG_FS_EFI=y
CONFIG_FS_EFIVARFS=y
CONFIG_DRIVER_SERIAL_EFI_STDIO=y
CONFIG_EFI_BLK=y
CONFIG_EFI_BLK_SEPARATE_USBDISK=y
CONFIG_WATCHDOG_EFI=y
CONFIG_HW_RANDOM_EFI=y
CONFIG_I2C_EFI=y
CONFIG_VIDEO=y
CONFIG_DRIVER_VIDEO_EFI_GOP=y
CONFIG_CLOCKSOURCE_EFI=y
CONFIG_SERIAL_EFI_STDIO=y
CONFIG_CMD_EFI_HANDLE_DUMP=y
CONFIG_BOOTM_FITIMAGE=y
CONFIG_PROMPT_HUSH_PS2="y"
CONFIG_CMDLINE_EDITING=y
CONFIG_BOOTM_SHOW_TYPE=y
CONFIG_BOOTM_VERBOSE=y
CONFIG_CONSOLE_ACTIVATE_ALL=y
CONFIG_CONSOLE_ALLOW_COLOR=y
CONFIG_PBL_CONSOLE=y
CONFIG_PROMPT="barebox> "
CONFIG_HUSH_FANCY_PROMPT=y
CONFIG_AUTO_COMPLETE=y
CONFIG_PARTITION_DISK_EFI=y
CONFIG_MENU=y
CONFIG_BOOTM_INITRD=y
CONFIG_BOOTM_OFTREE=y
CONFIG_BLSPEC=y