# SPDX-License-Identifier: GPL-2.0-only

config EFI_HANDOVER_PROTOCOL
	bool "EFI Handover protocol"
	def_bool X86

config EFI_FDT
	bool "EFI support device tree"
	def_bool ARM || RISCV

config EFI_PAYLOAD_BOOTM
	bool "EFI bootm protocol"
	def_bool !EFI_HANDOVER_PROTOCOL
